.cats-container {
    width: calc(100% - 200px);
    padding: 0 10px 10px;
    text-align: center;

    .cats {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;
    }

    .cat {
        margin-top: 10px;
        img {
            width: 300px;
            height: 300px;
        }
    }

    .load-more {
        width: 150px;
        height: 50px;
        border: 1px solid #7386d5;
        color: #7386d5;
        background-color: #ffffff;
        margin-top: 50px;
        font-size: 18px;
        cursor: pointer;

        &:hover {
            background-color: #7386d5;
            color: #ffffff;
        }
    }
}
