.sidebar-container {
    width: 200px;
    min-height: 100vh;
    background-color: #7386d5;

    .title {
        padding: 30px 10px;
        background-color: #6d7ecc;
        p {
            font-size: 24px;
            color: #ffffff;
        }
    }
}
